img {
  width: 100%;
}

html, body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
}

li {
  display: inline-block;
  margin-right: 10px;
}

.pictext {
  color: #e6eaee;
}

.square-pic {
  width: 250px;
  height: 250px;
}

.gray-button {
  background: #adadb1;
  color: #e6eaee;
}

.blu-button {
  background: #0a2658;
  color: white;
}

.lt-blu-text {
  color: #1560FB;
}

.dk-blu-text {
  color: #0a2658;
}

.svg-logo {
  width: 5%;
  margin-top: 15px;
}

.text-next-logo {
  color: #0a2658;
  font-weight: bold;
  margin-left: 5px;
  vertical-align: middle;
  margin-top: 20px;
}

.headlines {
  font-size: 20px;
}

.headlines2 {
  font-size: 40px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header-links {
  list-style: none;
  margin-top: 15px;
  color: #0a2658;
}

.jtbackground {
  background-color: transparent;
  text-align: center;
  color: #e6eaee;
  text-shadow: 5px black;
}

.phototop {
  min-width: 100%;
  background-color: lightblue;
}

.phototop .svg-logo {
  width: 3%;
  margin: 10px;
}

.jamespic {
  width: 5%;
}

.text-next-jamespic {
  color: #0a2658;
  font-size: 10px;
  font-weight: bold;
  vertical-align: middle;
}

blockquote {
  color: #1560FB;
  font-size: 20px;
}

.post-links {
  padding: 0;
  list-style: none;
}

.post-links .post-link {
  margin-right: 10px;
  padding: 0;
  display: inline-block;
  background-color: #adadb1;
  padding-right: 5px;
  padding-bottom: 2px;
  width: 150px;
  margin-bottom: 5px;
}

.post-links .post-link .glyphicon {
  display: inline-block;
  padding: 5px;
  background-color: #79797f;
  vertical-align: bottom;
}

.post-links .post-link a {
  color: #e6eaee;
}

.post-links .post-link.post-link-blue {
  background-color: #1560FB;
}

.post-links .post-link.post-link-blue .glyphicon {
  background-color: black;
}

.jamespic2 {
  width: 30%;
  margin-top: 30px;
  margin-bottom: 5px;
}

.sidebar-pic {
  width: 70%;
}

.sidebar-head-margin {
  margin-top: 35px;
}

footer {
  margin-top: 40px;
  background-color: #0a2658;
}

.bg-white {
  background-color: white;
  padding: 40px 0;
}

.bg-white h2 {
  margin: 0;
}

.footer-posts {
  display: flex;
  background-color: #0a2658;
}

.footer-post {
  padding: 140px 30px 30px 30px;
  color: #0a2658;
  flex: 1;
  height: 200px;
  background-image: url(https://unsplash.it/200?random);
  background-size: cover;
  opacity: 0.5;
  transition: all 1s ease;
}

.footer-post h6 {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.footer-post:hover {
  color: #e6eaee;
  opacity: 1.0;
}

.footer-links {
  color: #e6eaee;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.footer-nav {
  list-style: none;
  text-align: center;
  padding: 0;
  margin-left: -20px;
  margin-top: 10px;
}

.footer-nav li {
  display: inline-block;
  margin-left: 20px;
}

.footer-nav li a {
  color: #e6eaee;
}
